[Unit]
Description=FDG Node.js API
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/html/nodejs
ExecStart=/usr/bin/node /var/www/html/nodejs/dg.js
Restart=always
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
